* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 260px;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 123px;
    max-width: 100%;
}
.icon-img {
    width: 70px;
    height: 70px;
}

.header-items {
    display: flex;
    flex-direction: row;
    
    margin-left: 60px;
    gap: 45px;
    width: 534px;
    height: 18px;
}
.header-item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}
.header-item a {
    text-decoration: none;
    color: #292D32;
}
.search {
    margin-left: 50px;
}
.header-right {
    margin-left: 380px;
    display: flex;
    gap: 30px;
}
.header-right-item {
    width: 49px;
    height: 49px;
}
.first-block {
    background-color: #F2F2F2;
    height: 683px;
}
.first-container {
    display: flex;
    position: relative;
}
.scroll {
    padding-top: 357px;
    text-align: center;
    width: 25px;
    height: 168px;
}
.scroll-text span {
    writing-mode: vertical-lr;
    transform:rotate(180deg);
    font-weight: 300;
    font-size: 16px;
    color: #838383;
}
.scroll-image {
    margin-top: 17px;
}
.first-main {
    margin-left: 105px;
}
.main-text {
    padding-top: 253px;
    height: 157px;
}
.main-text-top {
    font-weight: 300;
    font-size: 18px;
    color: #838383;
    height: 24px;
    width: 163px;
}
.main-text-title {
    width: 446px;
    height: 118px;
    font-weight: 400;
    font-size: 50px;
    color: #292D32;
    text-align: left;
    padding-top: 15px;
}
.main-button {
    margin-top: 60px;
    height: 55px;
    width: 150px;
}
.main-image {
    margin-top: 74px;
    width: 557px;
    height: 555px;
    margin-left: -42px;
}
.dots {
    position: absolute;
    left: 1042px;
    top: 500px;
}
.first-slider {
    margin-left: 60px;
    position: relative;
}
.slider {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}
.vector-slider {
    z-index: 10;
    position: absolute;
    top: 500px;
    left: 50px;
    width: 105px;
    height: 21px;
}
.slider-text {
    z-index: 20;
    position: absolute;
    top: 321px;
    left: 50px;
    font-weight: 400;
    font-size: 25px;
    width: 181px;
    height: 96px;
}
.catalog {
    margin-top: 163px;
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: repeat(2, 371px);
    gap: 40px;
}
.catalog-1, .catalog-3, .catalog-5 {
    background-color: #F2F2F2;
    border-radius: 20px;
}
.catalog-2, .catalog-4 {
    background-color: #F9F9F9;
    border-radius: 20px;
}
.catalog-text-title {
    width: 388px;
    font-weight: 400;
    font-size: 50px;
    color: #292D32;
}
.catalog-text-subtitle {
    width: 372px;
    margin-top: 29px;
    font-weight: 300;
    font-size: 18px;
    color: #838383;
}
.catalog-button {
    margin-top: 46px;
}
.catalog-image-1 {
    width: 415px;
    height: 245px;
    margin-top: -10px;
    margin-left: 10px;
}
.catalog-image-2 {
    width: 267px;
    height: 244px;
    margin-left: 115px;
    margin-top: -21px;
}
.catalog-image-3 {
    width: 337px;
    height: 137px;
    margin-left: 51px;
    margin-top: 81px;
}
.catalog-image-4 {
    width: 289px;
    height: 159px;
    margin-left: 75px;
    margin-top: 59px;
}
.catalog-image-5 {
    width: 337px;
    height: 137px;
    margin-left: 87px;
    margin-top: 38px;
}
.catalog-1,
.catalog-2,
.catalog-3,
.catalog-4,
.catalog-5 {
    position: relative;
}
.catalog-subtitle-1,
.catalog-subtitle-2,
.catalog-subtitle-3,
.catalog-subtitle-4,
.catalog-subtitle-5 {
    position: absolute;
    top: 264px;
    left: 40px;
    font-weight: 300;
    font-size: 18px;
    color: #838383;
}
.catalog-title-1,
.catalog-title-2,
.catalog-title-3,
.catalog-title-4,
.catalog-title-5 {
    position: absolute;
    top: 293px;
    left: 40px;
    font-weight: 400;
    font-size: 25px;
    color: #292D32;
}
.catalog-number {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 25px;
    font-weight: 100;
    color: #292D32;
}



