* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    max-width: 1920px; 
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 260px;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 123px;
    width: 100%;
}
.icon-img {
    width: 70px;
    height: 70px;
}

.header-items {
    display: flex;
    flex-direction: row;
    
    margin-left: 60px;
    gap: 45px;
    width: 534px;
    height: 18px;
}
.header-item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}
.header-item a {
    text-decoration: none;
    color: #292D32;
}
.search {
    margin-left: 50px;
}
.header-right {
    margin-left: 380px;
    display: flex;
    gap: 30px;
}
.header-right-item {
    width: 49px;
    height: 49px;
}
.first-block {
    background-color: #F2F2F2;
    height: 683px;
}
.first-container {
    display: flex;
    position: relative;
}
.scroll {
    padding-top: 357px;
    text-align: center;
    width: 25px;
    height: 168px;
}
.scroll-text span {
    writing-mode: vertical-lr;
    transform:rotate(180deg);
    font-weight: 300;
    font-size: 16px;
    color: #838383;
}
.scroll-image {
    margin-top: 17px;
}
.first-main {
    margin-left: 105px;
}
.main-text {
    padding-top: 253px;
    height: 157px;
}
.main-text-top {
    font-weight: 300;
    font-size: 18px;
    color: #838383;
    height: 24px;
    width: 163px;
}
.main-text-title {
    width: 446px;
    height: 118px;
    font-weight: 400;
    font-size: 50px;
    color: #292D32;
    text-align: left;
    padding-top: 15px;
}
.main-button {
    margin-top: 60px;
    height: 55px;
    width: 150px;
}
.main-image {
    margin-top: 74px;
    width: 557px;
    height: 555px;
    margin-left: -42px;
}
.dots {
    position: absolute;
    left: 1042px;
    top: 500px;
}
.first-slider {
    margin-left: 60px;
    position: relative;
}
.slider {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}
.vector-slider {
    z-index: 10;
    position: absolute;
    top: 500px;
    left: 50px;
    width: 105px;
    height: 21px;
}
.slider-text {
    z-index: 20;
    position: absolute;
    top: 321px;
    left: 50px;
    font-weight: 400;
    font-size: 25px;
    width: 181px;
    height: 96px;
}
.catalog {
    margin-top: 163px;
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: repeat(2, 371px);
    gap: 40px;
}
.catalog-1, .catalog-3, .catalog-5 {
    background-color: #F2F2F2;
    border-radius: 20px;
}
.catalog-2, .catalog-4 {
    background-color: #F9F9F9;
    border-radius: 20px;
}
.catalog-text-title {
    width: 388px;
    font-weight: 400;
    font-size: 50px;
    color: #292D32;
}
.catalog-text-subtitle {
    width: 372px;
    margin-top: 29px;
    font-weight: 300;
    font-size: 18px;
    color: #838383;
}
.catalog-button {
    margin-top: 46px;
}
.catalog-image-1 {
    width: 415px;
    height: 245px;
    margin-top: -10px;
    margin-left: 10px;
}
.catalog-image-2 {
    width: 267px;
    height: 244px;
    margin-left: 115px;
    margin-top: -21px;
}
.catalog-image-3 {
    width: 337px;
    height: 137px;
    margin-left: 51px;
    margin-top: 81px;
}
.catalog-image-4 {
    width: 289px;
    height: 159px;
    margin-left: 75px;
    margin-top: 59px;
}
.catalog-image-5 {
    width: 337px;
    height: 137px;
    margin-left: 87px;
    margin-top: 38px;
}
.catalog-1,
.catalog-2,
.catalog-3,
.catalog-4,
.catalog-5 {
    position: relative;
}
.catalog-subtitle-1,
.catalog-subtitle-2,
.catalog-subtitle-3,
.catalog-subtitle-4,
.catalog-subtitle-5 {
    position: absolute;
    top: 264px;
    left: 40px;
    font-weight: 300;
    font-size: 18px;
    color: #838383;
}
.catalog-title-1,
.catalog-title-2,
.catalog-title-3,
.catalog-title-4,
.catalog-title-5 {
    position: absolute;
    top: 293px;
    left: 40px;
    font-weight: 400;
    font-size: 25px;
    color: #292D32;
}
.catalog-number {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 25px;
    font-weight: 100;
    color: #292D32;
}
.our-advantages {
    margin-top: 180px;
    background-color: #F2F2F2;
}
.advanvantages-top {
    display: flex;
    
}
.adv-top-image {
    width: 874px;
    height: 492px;
    margin-left: 180px;
    margin-top: 87px;
}
.adv-top-text {
    margin-top: 183px;
}
.adv-top-title {
    color: #292D32;
font-size: 50px;
font-weight: 400;
line-height: 50px;
}
.adv-top-subtitle {
    margin-top: 37px;
    color: #838383;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}
.adv-button {
    display: flex;
}
.adv-btn-circle {
    width: 55px;
    height: 55px;
    background-image: url(./images/adv-btn.png);
    background-repeat: no-repeat;
    /* text-align: center;
    vertical-align: middle; */
    color: white;
font-size: 18.74px;
font-weight: 700;
line-height: 35.14px;
}
.adv-btn-text {
    color: #292D32;
font-size: 16px;
font-weight: 400;
line-height: 30px;
}
.advantages-items {
    display: flex;
    gap: 27px;
}
.adv-item {
    margin-top: 48px;
    margin-bottom: 46px;
    background: #292D32;
    border-radius: 20px;
    width: 330px;
    height: 289px;
    position: relative;
}
.adv-image {
    background: #343A41; 
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-left: 30px;
}
.adv-icon {
    margin-top: 17px;
    margin-left: 17px;
    width: 36px;
    height: 36px;
}
.adv-item-title {
    margin-top: 25px;
    margin-left: 30px;
    color: white;
font-size: 22px;
font-weight: 700;
height: 56px;
}
.adv-item-subtitle {
    margin-top: 13px;
    margin-left: 30px;
    color: #B7B7B7;
font-size: 16px;
font-weight: 300;
width: 276px;
height: 60px;
}
.adv-item-title.card-1 {
    width: 205px;
}
.adv-item-title.card-2 {
    width: 276px;
}
.adv-item-title.card-1 {
    width: 278px;
}
.adv-item-title.card-1 {
    width: 263px;
}
.adv-item-subtitle.subtitle-1,
.adv-item-subtitle.subtitle-2 {
    width: 276px;
}
.adv-item-subtitle.subtitle-3 {
    width: 270px;
}

.adv-item-subtitle.subtitle-4 {
    width: 263px;
}
.adv-item-blue {
    position: absolute;
    top: 0;
    right: 0;
}
.news {
    padding-top: 172px;
    background-color: #F2F2F2;
}
.news-top {
    display: flex;
    justify-content: space-between;
}
.news-text-title {
    color: #292D32;
font-size: 50px;
font-weight: 400;
}
.news-text-subtitle {
    color: #838383;
font-size: 18px;
font-weight: 300;
line-height: 27px;
margin-top: 25px;
width: 721px;
}
.news-items {
    margin-top: 69px;
    display: grid;
    grid-template-columns: repeat(3, 415px);
    grid-template-rows: repeat(2, 364px);
    row-gap: 38px;
    column-gap: 65px;
}
.news-item {
    position: relative;
    background-color: white;
    border-radius: 40px 0 40px 0;
}
.news-item-image {
    z-index: 5;
    top: 0;
    left: 0;
    height: 259px;
    width: 415px;
    border-radius: 40px 0 0 0;
}
.news-item-white {
    position: absolute;
    z-index: 10;
    top: 219px;
    left: 0;
}
.news-item-text {
    position: absolute;
    z-index: 20;
    top: 243px;
    left: 30px;
}
.news-item-title {
    color: #292D32;
font-size: 25px;
font-weight: 700;
line-height: 32.50px;
width: 268px;
}
.news-item-subtitle {
    color: #292D32;
font-size: 14px;
font-weight: 400;
line-height: 21px;
margin-top: 11px;
width: 365px;
}
.news-white-small {
    position: absolute;
    z-index: 20;
    top: 244px;
    left: 309px;
}
.news-item-button {
    position: absolute;
    z-index: 25;
    top: 234px;
    left: 323px;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.news-button-arrow {
    position: absolute;
    top: 15px;
    left: 24px;
    color: white;
font-size: 18.74px;
/* font-family: Circe; */
font-weight: 700;
line-height: 35.14px;
}
.news-item-data {
    color: #292D32;
    background-color: #fff;
    position: absolute;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06); 
    border-radius: 15px;
    top: 65px;
    left: 390px;
    height: 97px;
    width: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.news-data-number {
    padding-top: 24px;
font-size: 20px;
font-weight: 900;
}
.news-data-month {
    padding-bottom: 24px;
font-size: 10px;
font-weight: 300;

}